NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cGlja2VkLWxvY3VzdC05NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_pn7SgtFI0FVPsjMumQOy4cu4gx3r8ibBbsQxArw9Dh

CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

DATABASE_URL= # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL=  # Set this to the Session connection pooler string you copied in Step 1

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

FRONTEND_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

NEXT_PUBLIC_STRIPE_PRICE_ID=